@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rainbow';
  src: url('/public/rainbow.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.rainbow {
  font-family: 'Rainbow', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-image {
  background-image: url('/public/bg.jpg');
  background-size: cover;
  background-position: center;
}
